/* box model */
.box {
  width: 100px;
  height: 70px;
  padding: 20px;
  border: 1px solid;
}
.awesome {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.5;
  border: 5px solid;
  padding: 2rem;

  width: 400px;
  height: 200px;
  /* box-sizing: border-box; */
}
/* selectors */
div > p2 {
  font-size: 50px;
}

.box1 > h1 {
  color: violet;
}
.box1 > h2 {
  color: red;
}
.box1 > h3 {
  color: yellow;
}

/* Sizing Units */
.sizing {
  font-size: 24px;
  line-height: 1.5;
}

/* * {
  padding: 0;
  margin: 0;
} */

/* flexbox */
.container {
  width: 90vw;
  height: 800px;
  border: 5px solid;
  display: flex;
  /* flex-direction:  row-column;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  height: 200px;
  padding: 10px;
  /* 
  flex-grow: ;
  flex-shrink: ;
  fex-basis: ;
  */
  /* flex-basis: 200px;
  flex-grow: 1; */

  flex: 1 1 auto;
}

.box p {
  font-size: 24px;
  color: white;
}

.box-1 {
  background-color: blue;
}

.box-2 {
  background-color: red;
}

.box-3 {
  background-color: violet;
}

/* Grid */
.layout {
  display: grid;
  /* grid-template-column: column-size column-size ....; */
  /* grid-template-columns: 200px 200px 100px; */
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: row-gap column-gap */
  /* grid-column-gap: 30px;
  grid-row-gap: 30px; */
  grid-gap: 30px 30px;
}

.layout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 100px 350px;
  grid-gap: 30px 30px;
}

.layout-item {
  border-radius: 10px;
  overflow: hidden;
}

.layout-item:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

.layout-item:nth-child(2),
.layout-item:nth-child(3) {
  grid-row: 1/3;
}

.layout-item:nth-child(4),
.layout-item:nth-child(5) {
  grid-row: 2/4;
}

.layout-item:last-child {
  grid-column: 3/5;
}

/* Z-index */
.layout3 {
  width: 400px;
  height: 600px;
  background-color: papayawhip;
  padding: 20px;
}

.item {
  width: 150px;
  height: 150px;
  padding: 10px;
  color: white;
}

.first-item {
  background-color: red;
  border: 3px solid gray;
}

.second-item {
  background-color: blue;
  border: 3px solid black;
  margin-top: -50px;
  margin-left: 50px;
  position: relative;
}

.third-item {
  background-color: violet;
  border: 3px solid red;
  margin-top: -50px;
  margin-left: 100px;
  transform: rotateZ(45deg);
}

.block1 {
  position: relative;
  z-index: 10;
}

.block2 {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  background-color: aqua;
  margin-top: -150px;
  position: relative;
  z-index: 20;
}

.box-shadow {
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 10px;
  margin: 5rem auto;
  box-shadow: 20px 12px 9px 0px red;
}

.text-shadow {
  text-shadow: 5px -5px 5px red;
}

.ul-list {
  background: violet;
  margin-left: 10px;
  width: 150px;
  padding: 0;
}

.li {
  list-style: square inside;
}

.boxed {
  width: 20rem;
  height: 20rem;
  background-color: red;
  opacity: 0;
  /* transition: property timer 2s easing */
  /* transition: background-color 0.2s linear, color 0.2s linear; */
  /* transition-delay: 2s; */
  transition: all 0.2s linear;
}

.boxed:hover {
  opacity: 1;
  background-color: violet;
  color: white;
}

.content{
  width: 300px;
  height: 400px;
  background-color: gray;
  overflow: scroll;
}

/* pseudo-classes */
.box-4{
  width: 100%;
  height: 100px;
  background-color:black;
}

.box-4:hover{
  background-color:violet
}

.li:first-child{
  color: red;
}

.li:last-child{
  color: red;
}

.h1{
  color: red;
}

.h1:hover{
  color:violet;
}

/* pseudo-elements */
.box-5{
  width: 100%;
  height: 100px;
  background-color:black;
}
.box-5::before{
  content: "Hello";
  display: block;
  width:50px;
  height: 50px;
  background-color:violet;
  color:white;
}
.box-5::after{
  content: "";
  display: block;
  width:50px;
  height: 50px;
  background-color:red;
}
/* .h2::first-letter{
  color: red;
  font-size: 40px;
} */
.h2::first-line{
  color: violet;
  font-size: 50px;
}

.h2::selection{
  color:white;
  background-color:violet;
}