.benefit {
  width: 1440px;
  height: 546px;
  display: flex;
  margin: 0 auto;
}
.benefit_card {
  width: 1262px;
  height: 655px;
  margin: 0 auto;
  margin-top: -240px;
  background-color: #fff;
}
.benefit_card .benefit_title {
  width: 270px;
  height: 42px;
  color: #102746;
  padding: 0;
  margin-top: 93px;
  margin-left: 99px;
  text-shadow: none;
  font-weight: 500 bold;
  font-size: 35px;
  line-height: 45px;
}
.benefit_card .benefit_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-left: 100px;
  gap: 74px;
}
.benefit_box .box {
  width: 317px;
  height: 218px;
}

.benefit_box .box-first {
  line-height: 15px;
}

.box .box_title {
  margin-top: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.box .box_desc {
  margin-top: 26px;
  font-size: 16px;
  line-height: 24px;
}

.benefit_box .box-third {
  margin-top: 7px;
}

.box .box_btn {
  margin-top: 39px;
  padding: 0;
  background: none;
  border: none;
  color: #006dfe;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.box .box_btn:hover {
  color: #000;
  text-decoration: none;
}
.box .box_img {
  width: 66px;
  height: 66px;
}