.footer {
    display: flex;
    width: 1440px;
    height: 370px;
    background: #0e1d28;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .footer_container {
    display: flex;
  }
  
  .footer_link {
    gap: 0 70px;
  }
  .footer_logo {
    width: 170px;
    height: 64px;
    margin-top: 119px;
    margin-left: 194px;
  }
  
  .footer_link {
    display: flex;
    margin: 0 auto;
    margin-top: 119px;
    margin-left: 356px;
  }
  
  .menu-item {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  
  .menu-item:first-child {
    font-size: 18px;
  }
  .menu-item a{
    color: #fff;
    text-decoration: none;
  }