.getinspired {
  width: 1440px;
  height: 866px;
  display: flex;
  margin: 0 auto;
}
.getinspired .getinspired_card {
  width: 1264px;
  height: 735px;
  margin: 0 auto;
}
.getinspired_card .getinspired_header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.getinspired_header .header_title {
  color: #102746;
  padding: 0;
  text-shadow: none;
  font-weight: 500 bold;
  font-size: 35px;
  line-height: 45px;
  margin: 0;
}
.header_line {
  display: block;
  width: 252.16px;
  border: 1px solid #006dfe;
}
.getinspired_layout {
  display: grid;
  grid-template-columns: 207.5px 197.5px 194px 211px 207.5px 196.5px;
  grid-template-rows: 354px 283px;
  grid-gap: 10px 10px;
  overflow: hidden;
  margin-top: 37.5px;
}

.getinspired_layout .layout:first-child {
  grid-column: 1/4;
  grid-row: 1/2;
}

.getinspired_layout .layout:nth-child(2) {
  grid-column: 4/7;
  grid-row: 1/2;
}

.getinspired_layout .layout:nth-child(3) {
  grid-column: 1/3;
}

.getinspired_layout .layout:nth-child(4) {
  grid-column: 3/5;
}

.getinspired_layout .layout:last-child {
  grid-column: 5/7;
}

.getinspired_layout .layout_text_top {
  position: absolute;
  color: #fff;
  font-size: 50px;
  font-weight: 400 bold;
  line-height: 60px;
  margin-top: 267px;
  margin-left: 29px;
}

.getinspired_layout .layout_text_bottom{
  position: absolute;
  color: #fff;
  font-size: 50px;
  font-weight: 400 bold;
  line-height: 60px;
  margin-top: 196px;
  margin-left: 32px;
}
.layout .img_top_left {
  width: 619px;
  height: 354px;
}
.layout .img_top_right {
  width: 635px;
  height: 354px;
}
.getinspired_layout .layout-bottom-left {
  width: 415px;
  height: 283px;
  background-image: url(/img/Overlay-tolyo.png), url(/img/tokyo.png);
}
.getinspired_layout .layout-bottom-mid {
  width: 415px;
  height: 283px;
  background-image: url(/img/Overlay-tolyo.png), url(/img/niigata.png);
}
.getinspired_layout .layout-bottom-right {
  width: 415px;
  height: 283px;
  background-image: url(/img/Overlay-tolyo.png), url(/img/sapporo.png);
}
.getinspired_header .header_btn {
  background: none;
  border: none;
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
}
.getinspired_header .header_btn:hover {
  color: #000;
  text-decoration: none;
}