.header {
  width: 1440px;
  height: 962px;
  margin: 0 auto;
  background-image: url(/img/overlay.png), url(/img/background-header.png);
  overflow: hidden;
  background-size: auto;
  flex-shrink: 0;
}

.header_menu {
  max-height: 31px;
  margin: 0 auto;
  margin-top: 56px;
  margin-left: 191px;
  margin-right: 167px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu .header_nav {
  display: flex;
  gap: 0 85px;
}
.header_nav .nav_item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  gap: 0 40px;
  font-weight: normal;
}

.header .header_title {
  width: 619px;
  height: 121px;
  font-size: 50px;
  font-weight: 400;
  padding-top: 176px;
  padding-left: 191px;
  line-height: 60px;
  margin: 0px;
  color: #fff;
  overflow: hidden;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .header_desc {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  overflow: hidden;
  max-width: 546px;
  max-height: 72px;
  margin-top: 22px;
  margin-left: 191px;
}

.header .header_search {
  display: flex;
  gap: 0 60px;
}
.header_search .search-item-first {
  margin-top: 59px;
  margin-left: 191px;
}

.header_search .search_item {
  display: flex;
  width: 297px;
  height: 49px;
  margin-top: 59px;
  border-bottom: 2px solid #bfc0c5;
  align-items: center;
}

.search_item .radio {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /* border-radius: 50%;
  border: 2px solid #fff;
  height: 15px;
  width: 15px; */
  cursor: pointer;
  margin-bottom: 30px;
}
.search_item .radio input[type="radio"] {
  display: none;
}
.search_item .radio span {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}
.search_item .radio span:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #00aeef;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.search_item .radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}
.search_item .search_item_content {
  width: 250px;
  background: none;
  border: none;
  margin-left: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.search_item .search_item_content::placeholder {
  color: #fff;
}

.search_btn {
  width: 171px;
  height: 58px;
  margin-top: 59px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 29px;
  background-color: #1b7dff;
  border: none;
  text-transform: uppercase;
}
.search_btn:hover {
  background-color: #fff;
  color: #1b7dff;
}
