.pre_neigh {
  width: 1440px;
  height: 924px;
  margin: 0 auto;
}

.pre_neigh_card {
  width: 1271px;
  height: 785px;
  margin: 0 auto;
}

.pre_neigh_card .prefecture_layout {
  display: flex;
  gap: 108px;
}

.pre_neigh_card .neighborhood_layout {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
  gap: 108px;
}

.prefecture_layout .layout_title_pre_neigh {
  width: 366px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-top: 30px;
}

.prefecture_layout .layout_desc_pre_neigh {
  width: 519px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  overflow: auto;
}
.layout_desc_pre_neigh::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.prefecture_layout .layout-desc-pre {
  margin-top: 85px;
}
.neighborhood_layout .layout-desc-neigh {
  margin-top: 45px;
}
.button-pre-neigh {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  margin-top: 58px;
  color: #006dfe;
}
.button-pre-neigh:hover {
  color: #000;
  text-decoration: none;
}
.img-pre-neigh {
  width: 597px;
  height: 354px;
}