.today_top_places {
  width: 1440px;
  height: 1442px;
  margin: 0 auto;
}

.ttp_card {
  width: 1280px;
  height: 1298px;
  margin: 0 auto;
}
.ttp_card .ttp_title {
  color: #102746;
  padding: 0;
  text-shadow: none;
  font-weight: 500 bold;
  font-size: 35px;
  line-height: 45px;
}
.ttp_layout {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 392px 392px 392px;
  grid-gap: 58px 52px;
}

.ttp_layout .layout_item {
  width: 392px;
  height: 567px;
}

.item_ttp .item_overlay {
  position: absolute;
  width: 386px;
  height: 55px;
  background: rgba(21, 24, 36, 0.6);
  margin-top: 323px;
}
.item_ttp .item_overlay_name {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 335px;
  margin-left: 25px;
}
.item_ttp .item_overlay_likes {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 335px;
  margin-left: 257px;
}
.item_ttp .item_overlay_cmt {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 335px;
  margin-left: 319px;
}
.item_ttp .overlay_shape_likes {
  position: absolute;
  margin-top: 341px;
  margin-left: 292px;
}
.item_ttp .overlay_shape_cmt {
  position: absolute;
  margin-top: 341px;
  margin-left: 347px;
}
.layout_item .layout_desc {
  width: 386px;
  height: 72px;
  margin-top: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow: auto;
}
.layout_desc::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.layout_item .item_btn {
  width: 118px;
  height: 42px;
  border: none;
  background: #006dfe;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 27px;
  padding: 0;
}
.layout_item .item_btn:hover {
  background: #fff;
  color: #006dfe;
}
.item_ttp .item_img {
  width: 386px;
  height: 377px;
}
