.video {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 609px;
    background-image: url(/img/Shape.png),
      url(/img/video.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
  }